.searchbar {
    font-family: 'Noto Sans', 'Gill Sans', sans-serif;
    margin: 10px;
    border: solid 0.5px #dae4c4;
    padding: 4px;
    background-color: rgb(17, 44, 61);
}

.searchbar__icon {
    margin: 1px 10px 0 5px;
}

.searchbar__search:focus {
    outline: 0;
}

input.searchbar__search {
    background-color: inherit;
    color: #e1e9d0;
    width: 850px;
    letter-spacing: 0.1px;
    border: none;
}